/* Animation */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBootm {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Universel Selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Html */
html {
  font-size: 62.5%;
}

/* Body tag */
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover:hover::after {
  transform: scale(1.5, 1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--animated {
  animation-name: moveInBootm;
  animation-duration: 2s;
}
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  text-decoration: none;
  color: rgba(85, 197, 122, 0.836);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2px 5px;
  border-bottom: 1px solid rgba(85, 197, 122, 0.836);
  border-radius: 5%;
  transition: all 0.3s;
}
.btn-text:hover {
  background-color: rgba(85, 197, 122, 0.836);
  color: #fff;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.btn-text:active {
  transform: translateY(1px);
}
.gallery {
  position: relative;
}
.gallery__photo {
  width: 55%;
  position: absolute;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  z-index: 10;
  outline-offset: 2rem;
}
.gallery__photo--1 {
  left: 0;
  top: -2rem;
}
.gallery__photo--2 {
  right: 0;
  top: 2rem;
}
.gallery__photo--3 {
  left: 20%;
  top: 10rem;
}
.gallery__photo:hover {
  outline: 1.5rem solid #28b485;
  transform: scale(1.05);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.gallery:hover .gallery__photo:not(:hover) {
  transform: scale(0.9);
}

.card-box {
  width: 80%;
  margin: 0 auto;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 3%;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.card:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
  transform: translateY(-5%) scale(1.03);
}
.card__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent !important;
}
.card__header {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.9rem;
  animation-name: moveInRight;
  animation-duration: 2s;
}

.heading-secondary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 3rem;
  font-weight: 700;
  transition: all 0.5s;
}
.heading-secondary:hover {
  transform: skewY(-2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 1rem #28b485;
}

.heading-tertiary {
  color: #777;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
}

.text-bg-color-primary {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent !important;
}

.text-center {
  text-align: center;
}

.bolock-center {
  margin: 0 auto;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.row-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
}
.row-2 .col {
  height: 100%;
  width: 100%;
}

.row-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2.5rem;
}
.row-4 .col {
  height: 100%;
  width: 100%;
  margin-right: 2rem;
  margin: 0 auto;
}

.paragraph {
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

/* header section */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.about-section {
  background-color: #f7f7f7;
  height: 120vh;
  width: 100%;
  padding-top: 25vh;
  margin-top: -20vh;
  overflow: hidden;
}

.features-section {
  height: 100vh;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg);
}
.features-section > * {
  transform: skewY(7deg);
}

/*# sourceMappingURL=style.css.map */
