// Color Veriable
$color-primary: rgba(85, 197, 122, 0.836);
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$coler-gray: #777;
$coler-gray-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;